@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Customers here can enter a ticket. The ticket is then sent to our technicans for support. Technicians are then able to provide 
    solutions to technical errors, from internet difficulties to login. Our technicians are trained to service technical errors in a 
    timely fashion.</p>
