<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
    </head>
<body>
    <h1>About Us</h1>
    <h3>@ViewBag.Message</h3>
        <p>Customers here can enter a ticket. The ticket is then sent to our technicans for support. Technicians are then able to provide 
           solutions to technical errors, from internet difficulties to login. Our technicians are trained to service technical errors in a 
           timely fashion.
        </p>
        <p>
            For more information on our services, please contact us by visiting our contacts page.
        </p>
    <img src="http://blog.valiantys.com/wp-content/uploads/2013/10/service-desk.jpg" />
</body>
</html>

