@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<name>Christopher Davis</name>
<address>
    38 Meadow Brook Circle<br />
    Hurricane, WV 25526<br />
    <abbr title="Phone">P:</abbr>
    304.941.8224
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">davis854@marshall.edu</a><br />
</address>

<img src="http://blog.valiantys.com/wp-content/uploads/2013/10/service-desk.jpg" />