@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Service Desk Help Center</h1>
    <p class="lead">Welcome to the Service Desk Help Center. </p>
    
</div>
<img src="http://blog.valiantys.com/wp-content/uploads/2013/10/service-desk.jpg" />

<div class="row">
    <div class="col-md-4">
        <h2>Our Philosophy </h2>
        <p>
            Our powerful help center is designed to help our customers communicate with professional technicians. We reach out to many customers in need of 
            quick solutions. We specialize in internet troubleshooting, user account troubleshooting, etc. 
        </p>
    </div>
</div>